<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @taste.date %>
</p>

<p>
  <b>Beer:</b>
  <%= @taste.beer_id %>
</p>

<p>
  <b>User:</b>
  <%= @taste.user_id %>
</p>

<p>
  <b>Scenthopsflower:</b>
  <%= @taste.scentHopsFlower %>
</p>

<p>
  <b>Scentfruit:</b>
  <%= @taste.scentFruit %>
</p>

<p>
  <b>Scentmalt:</b>
  <%= @taste.scentMalt %>
</p>

<p>
  <b>Foamamout:</b>
  <%= @taste.foamAmout %>
</p>

<p>
  <b>Foamcolor:</b>
  <%= @taste.foamColor %>
</p>

<p>
  <b>Foamdensity:</b>
  <%= @taste.foamDensity %>
</p>

<p>
  <b>Foamtime:</b>
  <%= @taste.foamTime %>
</p>

<p>
  <b>Clarityclarity:</b>
  <%= @taste.clarityClarity %>
</p>

<p>
  <b>Clarityprecipitate:</b>
  <%= @taste.clarityPrecipitate %>
</p>

<p>
  <b>Color:</b>
  <%= @taste.color %>
</p>

<p>
  <b>Tastesweetness:</b>
  <%= @taste.tasteSweetness %>
</p>

<p>
  <b>Tastebitterness:</b>
  <%= @taste.tasteBitterness %>
</p>

<p>
  <b>Tasteaftertaste:</b>
  <%= @taste.tasteAftertaste %>
</p>

<p>
  <b>Mouthtemp:</b>
  <%= @taste.mouthTemp %>
</p>

<p>
  <b>Mouthcarbon:</b>
  <%= @taste.mouthCarbon %>
</p>

<p>
  <b>Mouthfill:</b>
  <%= @taste.mouthFill %>
</p>

<p>
  <b>Score:</b>
  <%= @taste.score %>
</p>

<p>
  <b>Coment:</b>
  <%= @taste.coment %>
</p>


<%= link_to 'Edit', edit_taste_path(@taste) %> |
<%= link_to 'Back', tastes_path %>
