<h1>Listing breweries</h1>

<table class="table table-condensed table-hover table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Web</th>
    <th>Country</th>
    <th></th>
  </tr>

<% @breweries.each do |brewery| %>
  <tr>
    <td><%= brewery.name %></td>
    <td><%= brewery.web %></td>
    <td><%= brewery.country %></td>
    <td>
      <%= link_to(brewery, class: "btn btn-small") do %>
        <i class="icon-eye-open"></i> Show
      <% end %>

      <%= link_to(edit_brewery_path(brewery), class: "btn btn-small") do %>
        <i class="icon-pencil"></i> Edit
      <% end %>

      <%= link_to(brewery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small") do %>
          <i class="icon-warning-sign"></i> Destroy
      <% end %>   
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Brewery', new_brewery_path, class: "btn btn-primary" %>
