<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brewery.name %>
</p>

<p>
  <b>Web:</b>
  <%= @brewery.web %>
</p>
<p>
  <b>Country:</b>
  <%= @brewery.country %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
