<%= form_for(@tasting) do |f| %>
  <% if @tasting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasting.errors.count, "error") %> prohibited this tasting from being saved:</h2>

      <ul>
      <% @tasting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :beer_id %><br />
    <%= f.number_field :beer_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :scentHopsFlower %><br />
    <%= f.number_field :scentHopsFlower %>
  </div>
  <div class="field">
    <%= f.label :scentFruit %><br />
    <%= f.number_field :scentFruit %>
  </div>
  <div class="field">
    <%= f.label :scentMalt %><br />
    <%= f.number_field :scentMalt %>
  </div>
  <div class="field">
    <%= f.label :foamAmout %><br />
    <%= f.number_field :foamAmout %>
  </div>
  <div class="field">
    <%= f.label :foamColor %><br />
    <%= f.number_field :foamColor %>
  </div>
  <div class="field">
    <%= f.label :foamDensity %><br />
    <%= f.number_field :foamDensity %>
  </div>
  <div class="field">
    <%= f.label :foamTime %><br />
    <%= f.number_field :foamTime %>
  </div>
  <div class="field">
    <%= f.label :clarityClarity %><br />
    <%= f.number_field :clarityClarity %>
  </div>
  <div class="field">
    <%= f.label :clarityPrecipitate %><br />
    <%= f.number_field :clarityPrecipitate %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.number_field :color %>
  </div>
  <div class="field">
    <%= f.label :tasteSweetness %><br />
    <%= f.number_field :tasteSweetness %>
  </div>
  <div class="field">
    <%= f.label :tasteBitterness %><br />
    <%= f.number_field :tasteBitterness %>
  </div>
  <div class="field">
    <%= f.label :tasteAftertaste %><br />
    <%= f.number_field :tasteAftertaste %>
  </div>
  <div class="field">
    <%= f.label :mouthTemp %><br />
    <%= f.number_field :mouthTemp %>
  </div>
  <div class="field">
    <%= f.label :mouthCarbon %><br />
    <%= f.number_field :mouthCarbon %>
  </div>
  <div class="field">
    <%= f.label :mouthFill %><br />
    <%= f.number_field :mouthFill %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :coment %><br />
    <%= f.text_area :coment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
