<%= form_for(@tasting, :html => { :class => 'form-horizontal'} ) do |f| %>
  <% if @tasting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasting.errors.count, "error") %> prohibited this tasting from being saved:</h2>

      <ul>
      <% @tasting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= label_tag(:date, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag(:beer_id, nil, :class => "control-label") %>
    <div class="controls">
      <%= collection_select(:tasting, :beer_id, Beer.all, :id, :name, :prompt => "Select beer") %>
    </div>
  </div>

<div class="control-group">
   <%= label_tag(:user_id, nil, :class => "control-label") %>
    <div class="controls">
      <%= collection_select(:tasting, :user_id, User.all, :id, :name_capitalize, :prompt => "Select user") %>
    </div>
</div>

  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:scentHopsFlower, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :scentHopsFlower %>
    </div>
  </div>
  
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:scentFruit, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :scentFruit %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:scentMalt, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :scentMalt %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:foamAmount, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :foamAmount %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:foamColor, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :foamColor %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:foamDensity, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :foamDensity %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:foamTime, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :foamTime %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:clarityClarity, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :clarityClarity %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:clarityPrecipitate, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :clarityPrecipitate %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag(:color, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :color %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
     <%= label_tag(:tasteSweetness, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :tasteSweetness %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
     <%= label_tag(:tasteBitterness, nil, :class => "control-label") %>
     <div class="controls">
      <%= f.number_field :tasteBitterness %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:tasteAftertaste, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :tasteAftertaste %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:mouthTemp, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :mouthTemp %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:mouthCarbon, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :mouthCarbon %>
    </div>
  </div>
  <div class="control-group">
    <div class="slider"></div>
    <%= label_tag(:mouthFill, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.number_field :mouthFill %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag(:score, nil, :class => "control-label") %>
    <div class="controls">
      <% (1..8).to_a.each do |score| %>
      <label class="radio inline">
        <%= f.radio_button :score, score %>
        <%= score %>
      </label>
    <% end %>
    </div>
  </div>
 
  <div class="control-group">
    <%= label_tag(:comment, nil, :class => "control-label") %>
    <div class="controls">
      <%= f.text_area(:comment , rows: "7", :class => "span6") %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag(nil, :class => "btn btn-primary") %>
    </div>
  </div>
<% end %>
