<h1>Listing tastings</h1>

<table class="table table-bordered table-striped table-hover table-condensed">
  <tr>
    <th>Date</th>
    <th>Beer</th>
    <th>User</th>
    <th>Score</th>
    <th></th>
  </tr>

<% @tastings.each do |tasting| %>
  <tr>
    <td><%= tasting.date %></td>
    <td><%= tasting.beer.name %></td>
    <td><%= link_to(tasting.user.name, tasting.user) %></td>
    <td><%= tasting.score %></td>
    <td>
        <%= link_to(tasting, class: "btn btn-small") do %>
          <i class="icon-eye-open"></i> Show
        <% end %>

        <%= link_to(edit_tasting_path(tasting), class: "btn btn-small") do %>
          <i class="icon-pencil"></i> Edit
        <% end %>

        <%= link_to(tasting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small") do %>
            <i class="icon-warning-sign"></i> Destroy
        <% end %>   
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Tasting', new_tasting_path, class: 'btn btn-primary' %>
