<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @tasting.date %>
</p>

<p>
  <b>Beer:</b>
  <%= @tasting.beer_id %>
</p>

<p>
  <b>User:</b>
  <%= @tasting.user_id %>
</p>

<p>
  <b>Scenthopsflower:</b>
  <%= @tasting.scentHopsFlower %>
</p>

<p>
  <b>Scentfruit:</b>
  <%= @tasting.scentFruit %>
</p>

<p>
  <b>Scentmalt:</b>
  <%= @tasting.scentMalt %>
</p>

<p>
  <b>Foamamount:</b>
  <%= @tasting.foamAmount %>
</p>

<p>
  <b>Foamcolor:</b>
  <%= @tasting.foamColor %>
</p>

<p>
  <b>Foamdensity:</b>
  <%= @tasting.foamDensity %>
</p>

<p>
  <b>Foamtime:</b>
  <%= @tasting.foamTime %>
</p>

<p>
  <b>Clarityclarity:</b>
  <%= @tasting.clarityClarity %>
</p>

<p>
  <b>Clarityprecipitate:</b>
  <%= @tasting.clarityPrecipitate %>
</p>

<p>
  <b>Color:</b>
  <%= @tasting.color %>
</p>

<p>
  <b>Tastesweetness:</b>
  <%= @tasting.tasteSweetness %>
</p>

<p>
  <b>Tastebitterness:</b>
  <%= @tasting.tasteBitterness %>
</p>

<p>
  <b>Tasteaftertaste:</b>
  <%= @tasting.tasteAftertaste %>
</p>

<p>
  <b>Mouthtemp:</b>
  <%= @tasting.mouthTemp %>
</p>

<p>
  <b>Mouthcarbon:</b>
  <%= @tasting.mouthCarbon %>
</p>

<p>
  <b>Mouthfill:</b>
  <%= @tasting.mouthFill %>
</p>

<p>
  <b>Score:</b>
  <%= @tasting.score %>
</p>

<p>
  <b>Comment:</b>
  <%= @tasting.comment %>
</p>


<%= link_to 'Edit', edit_tasting_path(@tasting) %> |
<%= link_to 'Back', tastings_path %>
