<!DOCTYPE html>
<html>
<head>
  <title>Beer tastings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section class="container-fluid">
		<nav class="row-fluid">
			<div class="navbar navbar-inverse navbar-fixed-top">
  				<div class="navbar-inner">
  					<div class="container">
	    				<%= link_to "Beer App", :root, class: "brand" %>
	    				<ul class="nav">
							<li <%= request.path_parameters[:controller] == 'beers' ? "class='active'" : "" %>>
								<%= link_to "Beers", beers_path %>
							</li>
							<li <%= request.path_parameters[:controller] == 'tastings' ? "class='active'" : "" %>>
								<%= link_to "Tastings", tastings_path %>
							</li>
					    </ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="row-fluid">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</section>
</body>
</html>
